*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    }



body, html{
    height: 100%;
    font-family: 'Dancing Script', cursive;
    
    
}



h1{
    font-size: 30px;
    color:white;
    padding: 5%;
    width: 100%;
    text-align: center;
    position: absolute;
    z-index: 2;
    height: 100%;
}

.obla{
    position: relative;
    padding-top: 0;
    width: 100%;
    background-size: cover;
    opacity: 70%;
}


img{
    height: 30%;
    width: 30%;
}

.predlog{
    margin-left: 18%;
    margin-top: -20%;
    font-family: 'Courier New', Courier, monospace;
}


.photo1{
    margin-top: 10%;
    margin-left: 10%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    
}

.photo1:hover{
    opacity: 0%;
    transition: 0.3s;
}


@media screen and (max-width:574px){
    .photo1{
        margin-top: 40%;
    }
}

.str1{
    width: 20%;
    height: 20%;
    margin-top: 30%;
}

.predlog2{
    margin-left: 68%;
    margin-top:-40% ;
    font-family: 'Courier New', Courier, monospace;
}


.photo2{
    margin-top: 10%;
    margin-left: 60%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.photo2:hover{
    opacity: 0%;
    transition: 0.3s;
}

.str2{
    width: 20%;
    height: 20%;
    margin-left: 50%;
    margin-top: 3%;
}

.predlog3{
    margin-left: 30%;
    margin-top: -25%;
    font-family: 'Courier New', Courier, monospace;
}


.photo3{
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 19%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.photo3:hover{
    opacity: 0%;
    transition: 0.3s;
}


.line{
    margin-top: 20%;
}
.inst{
    margin-top: 3%;
    margin-left: 15%;
    font-size: 25px
}

.insta{
    margin-left: 17%;
    width: 7%;
    height: 10%;
}

@media screen and (max-width: 574px) {
    .insta{
        width: 9%;
    }
    
}

.stick{
    margin-left: 67%;
    margin-top: -11%;

}

.text{
    margin-top: 2%;
    color: white;
}

